/backEnd/GateServer/cmake-build-debug-vs2022/
/backEnd/GateServer/cmake-build-debug-mingw/
/frontEnd/chatProject/build/
/backEnd/ChatServer/cmake-build-debug-vs2022/
/backEnd/ChatServer/cmake-build-debug-mingw/
/backEnd/StatusServer/cmake-build-debug-vs2022/
/backEnd/StatusServer/cmake-build-debug-mingw/