QDialog#LoginDialog{
    background-color:rgb(240, 240, 240)
}

#lab_errTip[state='normal']{
        color:green;
}

#lab_errTip[state='err']{
    color:red;
}


#lab_pwd_visible[state='unvisible']{
   border-image: url(:/images/unvisible.png);
}
#lab_pwd_visible[state='unvisible_hover']{
   border-image: url(:/images/unvisible_hover.png);
}
#lab_pwd_visible[state='visible']{
   border-image: url(:/images/visible.png);
}
#lab_pwd_visible[state='visible_hover']{
   border-image: url(:/images/visible_hover.png);
}
#lab_confirm_visible[state='unvisible']{
   border-image: url(:/images/unvisible.png);
}
#lab_confirm_visible[state='unvisible_hover']{
   border-image: url(:/images/unvisible_hover.png);
}
#lab_confirm_visible[state='visible']{
   border-image: url(:/images/visible.png);
}
#lab_confirm_visible[state='visible_hover']{
   border-image: url(:/images/visible_hover.png);
}

#widget_side_bar{
    background-color:rgb(46,46,46);
}

#btn_add[state='normal']{
 border-image: url(:/images/add_friend_normal.png);
}

#btn_add[state='hover']{
 border-image: url(:/images/add_friend_hover.png);
}

#btn_add[state='press']{
 border-image: url(:/images/add_friend_hover.png);
}

#widget_search{
    background-color:rgb(247,247,247);
}
#edit_search{
     background-color:rgb(226,226,226);
     border: 2px solid #f1f1f1;
}

#widget_chat_user{
    background-color:rgb(0,0,0);
}
#list_chat_user {
    background-color: rgb(247,247,248);
    border: none;
}
#list_chat_user::item:selected {
    background-color: #d3d7d4;
    border: none;
    outline: none;
}
#list_chat_user::item:hover {
    background-color: rgb(206,207,208);
    border: none;
    outline: none;
}
#list_chat_user::focus {
    border: none;
    outline: none;
}

ChatUserWidget {
    background-color:rgb(247,247,247);
    border: none;
}
#lab_chat_msg{
    color:rgb(153,153,153);
    font-size: 12px;
    font-family: "Microsoft YaHei";
}
#lab_user_name{
    color:rgb(0,0,0);
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}
#widget_time #lab_time{
   color:rgb(140,140,140);
   font-size: 12px;
   font-family: "Microsoft YaHei";
}
QScrollBar:vertical {
    background: transparent; /* 将轨道背景设置为透明 */
    width: 8px; /* 滚动条宽度，根据需要调整 */
    margin: 0px; /* 移除滚动条与滑块之间的间距 */
}
QScrollBar::handle:vertical {
    background: rgb(173,170,169); /* 滑块颜色 */
    min-height: 10px; /* 滑块最小高度，根据需要调整 */
    border-radius: 4px; /* 滑块边缘圆角，调整以形成椭圆形状 */
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px; /* 移除上下按钮 */
    border: none; /* 移除边框 */
    background: transparent; /* 背景透明 */
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none; /* 页面滚动部分背景透明 */
}
#widget_title{
    background: #f5f5f5;
    border-bottom: 0.5px solid #ececec; /* 设置下边框颜色和宽度 */
}
#lab_title{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    font-weight: normal;
}

#chat_edit{
    background: #f5f5f5;
    border: none;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    padding: 5px;
}
#widget_chat_data_list{
    background: #f5f5f5;
}
#widget_send{
    background: #f5f5f5;
    border: none; /* 隐藏边框 */
}

#btn_add[state='normal']{
    border-image: url(:/images/add_friend_normal.png);
}
#btn_add[state='hover']{
    border-image: url(:/images/add_friend_hover.png);
}
#btn_add[state='press']{
    border-image: url(:/images/add_friend.png);
}
#btn_receive[state='normal']{
   background: #f0f0f0;
   color: #2cb46e;
   font-size: 13px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#btn_receive[state='hover']{
   background: #d2d2d2;
   color: #2cb46e;
   font-size: 13px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#btn_receive[state='press']{
   background: #c6c6c6;
   color: #2cb46e;
   font-size: 13px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#btn_send[state='normal']{
    background: #f0f0f0;
    color: #2cb46e;
    font-size: 13px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}
#btn_send[state='hover']{
   background: #d2d2d2;
   color: #2cb46e;
   font-size: 13px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#btn_send[state='press']{
   background: #c6c6c6;
   color: #2cb46e;
   font-size: 13px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#widget_tool{
    background: #f5f5f5;
    border-top: 0.5px solid #ececec; /* 设置下边框颜色和宽度 */
}
#lab_emoji[state='normal']{
    border-image: url(:/images/smile.png);
}
#lab_emoji[state='hover']{
    border-image: url(:/images/smile_hover.png);
}
#lab_emoji[state='press']{
    border-image: url(:/images/smile_press.png);
}
#lab_file[state='normal']{
    border-image: url(:/images/filedir.png);
}
#lab_file[state='hover']{
    border-image: url(:/images/filedir_hover.png);
}
#lab_file[state='press']{
    border-image: url(:/images/filedir_press.png);
}
