QDialog#LoginDialog{
    background-color:rgb(240, 240, 240)
}

#lab_errTip[state='normal']{
        color:green;
}

#lab_errTip[state='err']{
    color:red;
}


#lab_pwd_visible[state='unvisible']{
   border-image: url(:/images/unvisible.png);
}
#lab_pwd_visible[state='unvisible_hover']{
   border-image: url(:/images/unvisible_hover.png);
}
#lab_pwd_visible[state='visible']{
   border-image: url(:/images/visible.png);
}
#lab_pwd_visible[state='visible_hover']{
   border-image: url(:/images/visible_hover.png);
}
#lab_confirm_visible[state='unvisible']{
   border-image: url(:/images/unvisible.png);
}
#lab_confirm_visible[state='unvisible_hover']{
   border-image: url(:/images/unvisible_hover.png);
}
#lab_confirm_visible[state='visible']{
   border-image: url(:/images/visible.png);
}
#lab_confirm_visible[state='visible_hover']{
   border-image: url(:/images/visible_hover.png);
}

#widget_side_bar{
    background-color:rgb(46,46,46);
}

#btn_add[state='normal']{
 border-image: url(:/images/add_friend_normal.png);
}

#btn_add[state='hover']{
 border-image: url(:/images/add_friend_hover.png);
}

#btn_add[state='press']{
 border-image: url(:/images/add_friend_hover.png);
}
